/venv/
/.idea/dataSources.local.xml
/.idea/dataSources.xml
/.idea/Djangos.iml
/.idea/dataSources/ff3ebc19-c5d5-4d72-bafb-6051fc0be4a7.xml
/.idea/dataSources/ff3ebc19-c5d5-4d72-bafb-6051fc0be4a7/storage_v2/_src_/schema/information_schema.FNRwLQ.meta
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
/.idea/workspace.xml
